// colors
$Eerie-Black: #1E1E1EE0;
$Black: #000000;
$White: #FFFFFF;
$Vivid-Blue: #1677FF;
$dark-grey: rgba(30, 30, 30, 1);
$black-70: rgba(0, 0, 0, 0.7);
$green: #1A7318;
$purple: #F41B9E;
$orange: #FEA41D;


// size
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$font-size-heading: 2.4rem;
$background-color: $Vivid-Blue;
$border-radius: .32rem;
$border-none: none;